@font-face {
  font-family: font;
  src: url(arcadeclassic.regular.ttf);
}

html, body {
  font-family: font;
  margin: 0;
  padding: 0;
  background-color: #4F6D3A;

  /* turns body into a flex container and aligns everything vertically */
  display: flex;
  flex-direction: column;
}

/* header */
#head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 20vh;
  width: 95%;
  background-image: url(leaf.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  color: #8CB360;
  font-size: 6vh;
  text-align: center;
  padding-top: 8vh;
  padding-left: 3%;
}

/* MAIN CONTENT */
#main {
  display: flex;
  align-self: center;

  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #B23C4B;
  width: 95vw;
  height: 80vh;

  border-radius: 20vw 20vw 0 0;
  border-left: 25px solid transparent;
}

/* LEFT AND RIGHT SEEDS */
#left {
  width: 20%;
  height: auto;
}

#right {
  width: 20%;
}

/* MIDDLE FORM */
#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 60%;
}

#prompt {
  font-size: 4vh;
}

button, #sub1 {
  font-family: font;
  font-size: 115%;
  border-color: black;
  background-color: transparent;
}

button {
  width: 6em;
}
