@font-face {
  font-family: font;
  src: url(arcadeclassic.regular.ttf);
}

html, body {
  font-family: font;
  margin: 0;
  padding: 0;
  background-color: #4F6D3A;

  /* turns body into a flex container and aligns everything vertically */
  display: flex;
  flex-direction: column;
}

/* header */
#head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 20vh;
  width: 95%;
  background-image: url(leaf.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  color: #8CB360;
  font-size: clamp(100px, 6, 6.25vh);
  text-align: center;
  padding-top: 8vh;
  padding-left: 3%;
}

/* MAIN CONTENT */
#main {
  display: flex;
  align-self: center;

  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #B23C4B;
  width: 95vw;
  height: clamp(500px, 80vh, 80vh);

  border-radius: 25vw 25vw 0 0;
  border-bottom-right-radius: 10vw 60vw;
  border-bottom-left-radius: 10vw 60vw;
}

/* LEFT AND RIGHT SEEDS */
#left {
  width: 20%;
}

#lefts {
  width: 15vw;
  height: 28vh;
}

#right {
  width: 20%;
}

#rights {
  width: 15vw;
  height: 28vh;
}

/* MIDDLE FORM */
#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: clamp(20px, 1.25vh, 1.5vh);

  width: 60%;
}

button, .sub1 {
  font-family: font;
  font-size: 115%;
  border-color: black;
  background-color: transparent;
  cursor: pointer;
}

#register {
  width: 6em;
  margin-top: 0.7em;
}

#forgot {
  width: 9em;
  margin-top: 0.7em;
}

#tops {
  position: relative;
  top: -4vh;

  height:8vh;
  width: 85vh;
}

/* FORGOT PASSWORD */
#prompt {
  margin-top: 2em;
  margin-bottom: 0;
  font-size: clamp(20px, 3.25vh, 3.5vh);
}

.question {
  position: relative;
  bottom: 30px;
  width: 60vw;
  height: auto;
}

a {
  position: absolute;
  top: 10px;
  left: 18px;

  font-size: 2em;
  color: black;
}
