@font-face {
  font-family: font;
  src: url(/static/arcadeclassic.regular.ttf);
}

html, body {
  font-family: font;
  margin: 0;
  padding: 0;
  background-image: url(/static/strawb.jpg);

  /* turns body into a flex container and aligns everything vertically */
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
nav {
  font-family: font;
  font-size: 150%;
  border: none;
  background-color: transparent;

  background-color: #4F6D3A;
  padding: 0.75%;
}

a:not(.back):hover {
  text-decoration: underline;
}



.back {
  font-weight: 900;
  color: #8CB360;
  text-decoration: none;
}

.util {
  float: right;
  color: #8CB360;
  text-decoration: none;

  margin-left: 1em;
}

/* MAIN CONTENT */
.main {
  display: flex;
  flex-flow: column;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding-bottom: 1.25%;
  background-color: #B94F5D;

  /* sets position for this part of the page */
  align-self: center;
  width: clamp(800px, 90%, 100vw);

  text-align: center;
}

h1 {
  font-size: 5vh;
  margin-bottom: -5px;
}

p {
  font-size: 110%;
}

input[type=text], textarea {
  border-radius: 4px;
  border-width: thin;
  border-color: black;
}

#submit {
  font-family: font;
  font-size: 130%;
  border-color: black;
  background-color: transparent;

  margin-top: 0.75em;
  cursor: pointer;
}
