@font-face {
    font-family: font;
    src: url(/static/arcadeclassic.regular.ttf);
}

html, body {
    font-family: font;
    margin: 0;
    padding: 0;
    /* background-image: url(/static/strawb3.jpg); */
    background-color: #b23c4c;

    /* turns body into a flex container and aligns everything vertically */
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
/* NAVBAR */
nav {
  font-family: font;
  border: none;
  background-color: transparent;

  background-color: #4F6D3A;
  padding: 0.75%;
}

.back {
    color: #8CB360;
    text-decoration: none;
    float: left;
}

.util {
    float: right;
    color: #8CB360;
    text-decoration: none;

    margin-left: 1em;
}

a {
    font-family: font;
    border: none;
    font-size: 150%;
    background-color: transparent;
    color: #8CB360;
    text-decoration: none;
  }

  a:not(.back):hover {
    text-decoration: underline;
  }

/* MAIN CONTENT */
.main {
    display: flex;
    padding: 2%;
    padding-top: 5em;
    margin-top: 2em;
    margin-bottom: -9em;

    align-self: center;
    flex-direction: column;
    align-items: left;

    width: 80vw;
    height: 40em;

    /*background-color: #bf5d6c;*/
    background-image: url('/static/back.png');
    background-size: 85vw 43em;
    background-repeat: no-repeat;
    overflow-wrap: break-word;
}

h1{
    text-align: center;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 21.5vh;
    left: 0;

    height: 15vh;
    color: #8CB360;
    background-color: #4F6D3A;

    padding: 1%;
    padding-bottom: 1%;
    overflow-wrap: break-word;
}

p{
    font-size: 130%;
}
