<!DOCTYPE html>

<html>

  <head>

  </head>

  <nav>
    <a href='/logout' class="util">Logout</a>
    <a href='/profile' class="util">My Profile</a>
    <a href='/edit/0' class="util">Create</a>
  </nav>

  <body>
    <br>
    <form method="POST" action="">
      {{ error|safe }}
      {% if display_title %}
        <p>Title</p>
        <input type="text" name="story_title" placeholder="Enter your title here" required>
        <br><br>
        <p>Content</p>
      {% else %}
        {{recent_content|safe}}
        <p>New Content</p>
      {% endif %}
      <textarea name="content" rows="40" cols="100" placeholder="Enter your story here..." required></textarea>
      <br>
      <input type="submit" value="Publish Changes">
    </form>
  </body>

  <footer>

  </footer>

</html>
