<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
      type="text/css"
      href="/static/css/landing.css">
  </head>

  <nav>
    <a href='/logout' class="util">Logout</a>
    <a href='/profile' class="util">My Profile</a>
    <a href='/edit/0' class="util">Create</a>
  </nav>

  <body>
    <br><br>
    <div class='main'>
      <h1>Telephone &nbsp Online &nbsp 2.0 &nbsp V3 &nbsp MKIV &nbsp .io</h1>
      <h3>Team &nbsp Lost &nbsp and &nbsp Found</h3>
      <br>
      <h2>Random &nbsp Stories:</h2>
      <table>
          {{stories}}
      </table>
   </div>

  </body>

  <footer>

  </footer>

</html>
