<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
      type="text/css"
      href="/static/profile.css">
  </head>

  <nav>
    <a href='/edit/0' class="logout">Create</a>
    <a href='/profile' class="logout">My Profile</a>
    <a href='/logout' class="logout">Logout</a>
  </nav>

  <body>
    <br><br>
    <div class='main'>
      <h1>Telephone Online 2.0 V3 MKIV .io</h1>
      <h3>Team Lost and Found</h3>
      <br>
      <h2>Random Stories:</h2>
   </div>

  </body>

  <footer>

  </footer>

</html>
