<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
      type="text/css"
      href="/static/login.css">
  </head>

  <body>
    <h1>
      Login
    </h1>

    <div id="main">
      <p id="prompt"> Please &nbsp enter &nbsp your &nbsp username &nbsp and &nbsp password &nbsp below: </p>

      <form method='POST' action="/login">
        <p>
          {{ error|safe }}
          USERNAME:
        </p>
        <input type="text" name="username">
        <br>
        <p> PASSWORD: </p>
        <input type="password" name="password">
        <br><br>
        <input type="submit" name="sub1" id="sub1" value="Submit">
      </form>
      <br>
      <button onclick="location.href='/register'">Register</button>
    </div>
  </body>

  <footer>

  </footer>

</html>
