<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
      type="text/css"
      href="/static/login.css">
  </head>

  <body>
    <div id="head">
      <h1>
        Login
      </h1>
    </div>

    <div id="main">
      <div id="left">
        <image src='/static/left_seed.png' id="lefts" alt="left seed">
      </div>

      <div id="middle">
        <image src="/static/top_seed.png" id="tops" alt="top seed">
        <p id="prompt"> Please &nbsp enter &nbsp your &nbsp username &nbsp and &nbsp password &nbsp below: </p>

        <form method='POST' action="/login">
          <p>
            {{ error|safe }}
            USERNAME:
          </p>
          <input type="text" name="username" required>
          <br>
          <p> PASSWORD: </p>
          <input type="password" name="password" required>
          <br><br>
          <input type="submit" name="sub1" id="sub1" value="Submit">
        </form>
        <br>
        <button onclick="location.href='/register'">Register</button>
      </div>

      <div id="right">
        <image src='/static/right_seed.png' id="rights" alt="right seed">
      </div>
    </div>
  </body>

  <footer>

  </footer>

</html>
