<!DOCTYPE html>

<html>

  <head>

  </head>

  <h1>
    Login 
  </h1>

  <body>
    <p> Please put your username and password below: </p>

    <form method='POST' action="/login">
      <p>
        {{ error|safe }}
        USERNAME:
      </p>
      <input type="text" name="username">
      <br>
      <p> PASSWORD: </p>
      <input type="password" name="password">
      <br><br>
      <input type="submit" name="sub1" value="Submit">
    </form>
    <br>
    <button onclick="location.href='/register'">Register</button>
  </body>

  <footer>

  </footer>

</html>
