<!DOCTYPE html>

<html>

  <nav>
    <button onclick="location.href='/'"class="back">&#8592;</button>
    <button onclick="location.href='/logout'">Logout</button>
  </nav>

  <body>
    <br><br>
    <img src={{ pfp }} alt="pfp">
    <h1> {{ username }} </h1>
    <p>
      {{ badge }} <br>
      Times Contributed: {{ times_cont }} <br>
    </p>
    <h3> Contributions </h3>
    <p> {{ if_conts }} </p>
    <ul>
      {% for story in contributions %}
        <li> <a href={{ story[1] }}> {{ story[0] }} </a></li>
      {% endfor %}
    </ul>
  </body>

  <footer>

  </footer>

</html>
