<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
      type="text/css"
      href="/static/profile.css">
  </head>

  <nav>
    <a href='/' class="back">&#8592;</a>
    <a href='/logout' class="logout">Logout</a>
  </nav>

  <body>

    <br><br>
    <div class='PFP'>
      <div id='pic'>
        <img src={{ pfp }} alt="pfp" class='image'>
      </div>

      <div id='edit'>
        {{ edit | safe }}
      </div>
    </div>

    <div class='main'>
      <h1> {{ username }} </h1>
      <p>
        {{ badge }} <br>
        Times Contributed: {{ times_cont }}
      </p>
      <h3> Contributions </h3>
      <p> {{ if_conts | safe }} </p>
      <ul>
        {% for story in contributions %}
          <li> <a href={{ story[1] }}> {{ story[0] }} </a></li>
        {% endfor %}
      </ul>
    </div>

  </body>

  <footer>

  </footer>

</html>
