<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
    type="text/css"
    href="/static/register.css">
  </head>

  <nav>
    <button onclick="location.href='/'"class="back">&#8592;</button>
  </nav>

  <body>
    <div class="birdies">
      <div class="bird1">
        <div class="wing"></div>
        <div class="body"></div>
        <div class="head"></div>
      </div>

      <div class="bird2">
        <div class="wing"></div>
        <div class="body"></div>
        <div class="head"></div>
      </div>

      <div class="bird3">
        <div class="wing"></div>
        <div class="body"></div>
        <div class="head"></div>
      </div>
    </div>

    <div class="main">
      <form method='POST' action="/register">
        <h1> Create &nbsp an &nbsp Account </h1>
        <p>
          {{ error|safe }}
          USERNAME:
        </p>
        <input type="text" name="username" required>
        <br>
        <p> PASSWORD: </p>
        <input type="password" name="password" required>
        <br>
        <p> CONFIRM &nbsp PASSWORD: </p>
        <input type="password" name="confirm" required>
        <br><br>
        <input type="submit" value="Register" id= "sub1" name="sub1">
      </form>
    </div>
  </body>

  <footer>

  </footer>

</html>
