<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
      type="text/css"
      href="/static/css/search.css">
  </head>

  <nav>
    <a href='/logout' class="util">Logout</a>
    <a href='/profile' class="util">My Profile</a>
    <a href='/edit/0' class="util">Create</a>
    <a href='/' class="back">&#8592;</a>
  </nav>

  <body>
    <br><br>
    <div class='main'>
      <h2>Search &nbsp results &nbsp for &nbsp {{query}}:</h2>
      <br>
      <form method='POST' action="/">
        <input type="text" name="searchText" required>
        <button type="submit" name="search" class="sub1" id="search"> <img src="/static/search.png" alt="Search on Website"> </button>
      </form>
      <br>
        {{results|safe}}
   </div>

  </body>

  <footer>

  </footer>

</html>
