<!DOCTYPE html>

<html>

  <head>

  </head>

  <nav>
    <button onclick="location.href='/'" class="back">&#8592;</button>
    <button onclick="location.href='/profile'">My Profile</button>
    <button onclick="location.href='/logout'">Logout</button>
    {% if didnt_edit %}
      <button onclick="location.href='/edit/{{story_id}}'">Edit</button>
    {% endif %}
  </nav>

  <body>


    <h1> {{ title }} </h1>
    {{ content | safe }}

  </body>

  <footer>
    <a href="/profile/{{author_id}}">Author Profile</a>
    <br>
    <p>Editors: </p>
      {% for editor_id, editor_user in editors.items() %}
        <a href="/profile/{{ editor_id }}">{{ editor_user }}</a>
      {% endfor %}
  </footer>

</html>
