<!DOCTYPE html>

<html>

  <head>

  </head>

  <nav>
    <button onclick="location.href='/profile'">My Profile</button>
    <button onclick="location.href='/logout'">Logout</button>
    <button onclick="location.href='/edit/{{story_id}}'">Edit</button>
  </nav>

  <body>


    <h1> {{ title }} </h1>
    {{ content }}

  </body>

  <footer>
    <button onclick="location.href='/profile/{{author_id}}'">Author Profile</button>
    <br>
    <br>
    <p>Editors: {{editors}}</p>

  </footer>
  
</html>
